<!DOCTYPE html>
<html>

<head>
  <title>Networks</title>

  <!-- Vendor Stylesheets -->
  <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Stylesheets -->
  <link href="stylesheets/index.css" rel="stylesheet">

  <!-- External Vendor Scripts -->
  <script src="https://use.typekit.net/aca7njt.js"></script>

  <!-- Internal Vendor Scripts -->


  <!-- Load Typekit fonts -->
  <script>
    try {
      Typekit.load({
        async: true
      });
    } catch (e) {}
  </script>

</head>

<body>
  <div class="container banner-container">
    <div class="col-md-2">
      <img class="logo" src="images/networks_logo.svg">
    </div>
    <div class="col-md-3">
      <h1>Networks.jl</h1>
    </div>
  </div>

  <div class="dark-wings">
    <!-- Load vendor scripts for Sigma.js -->
    <script src="javascripts/sigma/sigma.min.js"></script>
    <script src="javascripts/sigma/plugins/sigma.parsers.json.min.js"></script>

    <!-- Load sigma.js controller -->
    <script src="javascripts/main.js"></script>

    <!-- Container where graph is drawn -->
    <div id="sigma-container">
    </div>
  </div>

</body>

</html>
